![alt text](lego-button-2-1661351794140.jpg "Lego Scema")

## Lego DataSet Exploratory Data Analysis
### DataSci200 Project 2
#### https://www.kaggle.com/datasets/rtatman/lego-database?resource=download

![alt text](downloads_schema.png "Lego Scema")

In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [46]:
# Import Individual Lego DataFrames
sets = pd.read_csv("data/sets.csv.gz")
themes = pd.read_csv("data/themes.csv.gz")
#Import IMDB data
imdb_titles = pd.read_csv("data/title.basics.tsv.gz", sep= "\t")
imdb_ratings = pd.read_csv("data/title.ratings.tsv.gz", sep= "\t")
# Import Box Office Data
box_office_numbers = pd.read_csv("data/boxofficemojotopfranchises.tsv", sep= "\t")

C:\Users\mhurth\AppData\Local\Temp\1\ipykernel_47576\1536073190.py:5: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  imdb_titles = pd.read_csv("data/title.basics.tsv.gz", sep= "\t")

In [47]:
df_list = [sets, themes, imdb_titles, imdb_ratings, box_office_numbers]
var_names = ["sets", "themes", "imdb_titles", "imdb_ratings", "box_office_numbers"]
source = ["lego", "lego", "imdb", "imdb", "mojo"]
rows = []
cols = []
for df in df_list:
    rows.append(df.shape[0])
    cols.append(df.shape[1])
data_shapes = pd.DataFrame({"DataFrames":var_names, "Source": source, "Row Count": rows, "Column Count":cols})
data_shapes

           DataFrames Source  Row Count  Column Count
0                sets   lego      20963             6
1              themes   lego        462             3
2         imdb_titles   imdb    9759339             9
3        imdb_ratings   imdb    1300226             3
4  box_office_numbers   mojo        292             5

In [34]:
for d, n in zip(df_list, var_names):
    print("-"*20)
    print(f"For DataFrame {n} the columns and datatypes are:")
    print(d.dtypes)

--------------------
For DataFrame sets the columns and datatypes are:
set_num      object
name         object
year          int64
theme_id      int64
num_parts     int64
img_url      object
dtype: object
--------------------
For DataFrame themes the columns and datatypes are:
id             int64
name          object
parent_id    float64
dtype: object
--------------------
For DataFrame imdb_titles the columns and datatypes are:
tconst            object
titleType         object
primaryTitle      object
originalTitle     object
isAdult           object
startYear         object
endYear           object
runtimeMinutes    object
genres            object
dtype: object
--------------------
For DataFrame imdb_ratings the columns and datatypes are:
tconst            object
averageRating    float64
numVotes           int64
dtype: object
--------------------
For DataFrame box_office_numbers the columns and datatypes are:
Franchise         object
Total              int64
Releases           int64
#1 Release        object
Lifetime Gross     int64
dtype: object

In [35]:
box_office_numbers.columns

Index(['Franchise', 'Total', 'Releases', '#1 Release', 'Lifetime Gross'], dtype='object')

In [36]:
print("Lego Sets 'year' Column")
print("-"*20)
print(sets.year.describe())

Lego Sets 'year' Column
--------------------
count    20963.000000
mean      2007.281305
std         13.952494
min       1949.000000
25%       2001.000000
50%       2012.000000
75%       2018.000000
max       2023.000000
Name: year, dtype: float64

In [37]:
print("Lego Sets 'num_parts' Column")
print("-"*20)
print(sets.num_parts.describe())
sum(sets.num_parts == 0)

Lego Sets 'num_parts' Column
--------------------
count    20963.000000
mean       160.068025
std        411.576082
min          0.000000
25%          4.000000
50%         32.000000
75%        141.000000
max      11695.000000
Name: num_parts, dtype: float64

4206

In [40]:
print("IMDB Ratings 'averageRating' Column")
print("-"*20)
print(imdb_ratings.averageRating.describe())

IMDB Ratings 'averageRating' Column
--------------------
count    1.300226e+06
mean     6.950157e+00
std      1.383791e+00
min      1.000000e+00
25%      6.200000e+00
50%      7.100000e+00
75%      7.900000e+00
max      1.000000e+01
Name: averageRating, dtype: float64

In [38]:
print("IMDB Title 'startYear' Column")
print("-"*20)
imdb_titles.loc[imdb_titles["startYear"]=="\\N", "startYear"] = np.nan
print(f"nulls for startYear {sum(imdb_titles.startYear.isna())}")
imdb_titles.dropna(subset="startYear", inplace=True)
imdb_titles["startYear"] = imdb_titles["startYear"].astype(float)
print(imdb_titles.startYear.describe())

IMDB Title 'startYear' Column
--------------------
nulls for startYear 1319323
count    8.440016e+06
mean     2.005066e+03
std      2.015745e+01
min      1.874000e+03
25%      2.001000e+03
50%      2.012000e+03
75%      2.018000e+03
max      2.030000e+03
Name: startYear, dtype: float64

In [42]:
print("Box Office Mojo 'Lifetime Gross' Column")
print("-"*20)
print(box_office_numbers['Lifetime Gross'].describe())
box_office_numbers[box_office_numbers['Lifetime Gross'] == box_office_numbers['Lifetime Gross'].min()]

Box Office Mojo 'Lifetime Gross' Column
--------------------
count    2.920000e+02
mean     1.649396e+08
std      1.532204e+08
min      1.003450e+05
25%      6.088117e+07
50%      1.266073e+08
75%      2.175474e+08
max      9.366622e+08
Name: Lifetime Gross, dtype: float64

    Franchise   Total  Releases #1 Release  Lifetime Gross
291     V/H/S  124934         3      V/H/S          100345

In [5]:
imdb_titles[imdb_titles["primaryTitle"].astype(str).str.contains("star wars", case=False)]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
75151,tt0076759,movie,Star Wars: Episode IV - A New Hope,Star Wars,0,1977,\N,121,"Action,Adventure,Fantasy"
78967,tt0080684,movie,Star Wars: Episode V - The Empire Strikes Back,The Empire Strikes Back,0,1980,\N,124,"Action,Adventure,Fantasy"
84311,tt0086190,movie,Star Wars: Episode VI - Return of the Jedi,Star Wars: Episode VI - Return of the Jedi,0,1983,\N,131,"Action,Adventure,Fantasy"
86566,tt0088510,tvSeries,Star Wars: Droids,Star Wars: Droids,0,1985,1986,\N,"Action,Adventure,Animation"
117975,tt0120915,movie,Star Wars: Episode I - The Phantom Menace,Star Wars: Episode I - The Phantom Menace,0,1999,\N,136,"Action,Adventure,Fantasy"
...,...,...,...,...,...,...,...,...,...
9683521,tt9842960,videoGame,Star Wars: Pit Droids,Star Wars: Pit Droids,0,1999,\N,\N,Sci-Fi
9686187,tt9848652,tvEpisode,Star Wars Destiny,Star Wars Destiny,0,2017,\N,32,"Comedy,Game-Show"
9708082,tt9896532,tvEpisode,Star Wars Artist Erin Lefler Draws Star Lord,Star Wars Artist Erin Lefler Draws Star Lord,0,2018,\N,\N,Reality-TV
9708704,tt9897876,tvEpisode,"Star Wars: Episode IX Wraps, Plus New Celebrat...","Star Wars: Episode IX Wraps, Plus New Celebrat...",0,2019,\N,\N,"Sci-Fi,Short,Talk-Show"
9708744,tt9897958,tvEpisode,"Queen's Shadow Author E.K. Johnston, Plus Star...","Queen's Shadow Author E.K. Johnston, Plus Star...",0,2019,\N,\N,"Sci-Fi,Short,Talk-Show"

In [6]:
imdb_titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9717486 entries, 0 to 9717485
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 667.2+ MB

In [8]:
imdb_titles.shape

(9717486, 9)

In [9]:
imdb_titles.describe()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
count,9717486,9717486,9717475,9717475,9717486,9717486,9717486,9717486,9717475
unique,9717486,11,4410627,4432209,12,153,96,886,2339
top,tt0000001,tvEpisode,Episode #1.1,Episode #1.1,0,\N,\N,\N,Drama
freq,1,7370386,47228,47228,9351368,1315072,9613171,6861795,1105220

In [15]:
imdb_titles.titleType.value_counts()

tvEpisode       7370386
short            920797
movie            639927
video            272435
tvSeries         240619
tvMovie          140791
tvMiniSeries      47819
tvSpecial         40926
videoGame         33788
tvShort            9997
tvPilot               1
Name: titleType, dtype: int64

In [44]:
len(themes.id.unique())

462